@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800&display=swap');
/* custom properties  */
:root {}

/* Reusable div  */

.w-50 {
    width: 50%;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.p-0 {
    padding: 0;
}
.m-0 {
    margin: 0;
}
.align-items-center{
    align-items: center;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F8F8;
    margin: 0px;
}
h1,
p {
    margin: 0;
    padding: 0;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
